{% extends 'header.html' %}
{% block content %}


<section class="slider">
    <div class="load">
    </div>
    <div class="content">

    </div>


</section>
<div class="regst regst__top">
    <span class="close">X</span>

    <div class="regst__inp">
        <div class="regst__inp-log forma">
            <label for="name">Login</label>
            <input type="text" placeholder="login" name="name">
        </div>
        <div class="regst__inp-pas forma">
            <label for="pasword">Parol</label>
            <input type="password" name="pasword" id="" placeholder="Parol">
        </div>
        <div class="regst__inp-btn">
            <div class="chekout">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Eslab qolish</label>
            </div>
            <button type="submit" class="btn btn-primary ">Kirish</button>
        </div>
    </div>


</div>

<section class="miniNews container">
    <h1>So'nggi yangiliklar</h1>
    <div class="miniNews__title">
        <div class="card card--14">
            <h2 class="card__title">Having fun with cards</h2>
            <img class="card__img" src="./img/photo_2022-11-24_17-56-03.jpg" alt="">
            <p class="card__text">I think we don't use background images enough and by enough I mean like the next
                card</p>
            <a class="card__btn" href="./newsTitle.html" class="">read</a>
        </div>
        <div class="card card--14">
            <h2 class="card__title">Having fun with cards</h2>
            <img class="card__img" src="./img/photo_2022-11-24_17-56-03.jpg" alt="">
            <p class="card__text">I think we don't use background images enough and by enough I mean like the next
                card</p>
            <a class="card__btn" href="./newsTitle.html" class="">read</a>
        </div>
        <div class="card card--14">
            <h2 class="card__title">Having fun with cards</h2>
            <img class="card__img" src="./img/photo_2022-11-24_17-56-03.jpg" alt="">
            <p class="card__text">I think we don't use background images enough and by enough I mean like the next
                card</p>
            <a class="card__btn" href="./newsTitle.html" class="">read</a>
        </div>


    </div>
</section>
<div class="social">
    <a href="#">

        <img src="./img/facebook.svg" alt="">
    </a>
    <a href="#">

        <img src="./img/instagram.svg" alt="">
    </a>
    <a href="#">

        <img src="./img/telegram.svg" alt="">
    </a>
    <a href="#">

        <img src="./img/youtube.svg" alt="">
    </a>

</div>

<section class="inform">
    <h1>Qo'shimcha ma'lumot</h1>
    <div class="container top">
        <div class="inform-items">
            <img src="./img/l-1.jpg" alt="">
            <div class="inform-items-title">
                <img src="./img/ovqat.svg" alt="">
                <h2>Ovqatlanish vaqtlari</h2>
                <h5>5 mahal ovqatlanish
                    <br>
                    Bepul
                </h5>

            </div>

        </div>
        <div class="inform-items">
            <img src="./img/l-2.jpg" alt="">
            <div class="inform-items-title">
                <img src="./img/forma.svg" alt="">
                <h2>Maktab formasi</h2>
                <h5>Bepul</h5>

            </div>

        </div>
        <div class="inform-items">
            <img src="./img/l-3.jpg" alt="">
            <div class="inform-items-title">
                <img src="./img/yot.svg" alt="">
                <h2>Maktab yotoqxonasi</h2>
                <h5>
                    Bepul
                </h5>

            </div>

        </div>
    </div>
</section>

<footer class="foot">
    <div class="container">
        <a href="#" class="logotip"><img src="./img/footer-logo-new.svg" alt=""></a>
        <div class="foot__items">
            <div class="foot__items-title">
                <h2>Yuklab oling</h2>
                <div class="foot__items-title-app">
                    <img src="./img/apple.svg" alt="">
                    <h5 class="h5"><span>Download on the</span> <br>
                        App Store</h5>
                </div>
                <div class="foot__items-title-app">
                    <img src="./img/google.svg" alt="">
                    <h5><span>Available on the</span> <br>Google Play</h5>
                </div>

            </div>
            <div class="foot__items-title">
                <h2>Aloqa ma'lumotlari:</h2>
                <ul class="foot__items-title-cont">
                    <li><a href="#"><img src="./img/phone.svg" alt=""><span>+998 (73) 249-25-10</span></a></li>
                    <li><a href="#"><img src="./img/mail.svg" alt=""><span>info@piima.uz</span> info@piima.uz</a></li>
                    <li><a href="#"><img src="./img/location.svg" alt="">
                        <span>Farg'ona shahar Qashqar ko'chasi 1-uy</span> </a></li>
                </ul>

            </div>
            <div class="foot__items-title">
                <h2>Ishonch telefoni:</h2>
                <ul class="foot__items-title-tip">
                    <li><a href="#"><img src="./img/phone.svg" alt=""> <span>+998 (73) 249-25-10</span> </a></li>
                    <a class="btn" href="./Contact.html">Savol Yo'llash</a>

                </ul>
            </div>
        </div>
    </div>
</footer>




{% endblock %}