{% extends 'header.html' %}
{% block content %}


    <section class="news">
        
        <div class="news__items container">
            

            <div class="news__items-media medias" data-aos="fade-up">
                <div class="medias__img ">
                    <img src="./img/l-2.jpg" alt="">
                </div>
                <div class="medias__img ">
                    <img src="./img/l-2.jpg" alt="">
                </div>
                <div class="medias__img ">
                    <img src="./img/l-2.jpg" alt="">
                </div>
                <div class="medias__img ">
                    <img src="./img/l-2.jpg" alt="">
                </div>
                <div class="medias__img ">
                    <img src="./img/l-2.jpg" alt="">
                </div>
                <div class="medias__img ">
                    <img src="./img/l-2.jpg" alt="">
                </div>
                <div class="medias__img ">
                    <img src="./img/l-2.jpg" alt="">
                </div>
                <div class="medias__img ">
                    <img src="./img/l-2.jpg" alt="">
                </div>
                <div class="medias__img ">
                    <img src="./img/l-2.jpg" alt="">
                </div>
            </div>
        </div>

    </section>


{% endblock %}