{% extends 'header.html' %}
{% block content %}
    
    <section class="newsTitle">
        <div class="container py-5">
            <div class="ck-content clearfix">
                <p style="text-align:justify"><span style="font-size:20px">Prezident ta‘lim muassasalari agentligi tizimidagi Nurafshon shahridagi Prezident maktabida&nbsp;ochiq darslar haftaligiga start berildi.</span></p>

                <p style="text-align:justify"><span style="font-size:20px">O‘quv jarayonlarini kuzatish maqsadida o‘quvchilarning ota-onalari ham mazkur darslarda ishtirok etishmoqda.</span></p>

                <p style="text-align:justify"><span style="font-size:20px">Dars jarayonlarida xorijiy va mahalliy ustozlarning hamkorlikdagi metodlari ota-onalarda ijobiy taassurot qoldirmoqda.</span></p>
            </div>
            <div class="float-right">
                <a href="#" onclick="print()" class="text-right dataTooltip nav-link" title="Print" aria-expanded="false">
                    <img width="30" src="./img/print.png">
                </a>
            </div>
        </div>
    </section>

{% endblock %}