{% extends 'header.html' %}
{% block content %}
    
    <section class="newsTitle">
        <div class="container py-5">
            <div class="ck-content clearfix">
                <p style="text-align:justify"><span style="font-size:20px">{{yangilik.sarlavha}}</span></p>

                <p style="text-align:justify"><span style="font-size:20px">{{yangilik.matn}}</span></p>

            </div>
            <div class="float-right">
                <a href="#" onclick="print()" class="text-right dataTooltip nav-link" title="Print" aria-expanded="false">
                    <img width="30" src="./img/print.png">
                </a>
            </div>
        </div>
    </section>

{% endblock %}